* {
	/*border: 1px solid black;*/
	/*outline: none;*/
}

.title {
	text-align: center;
	font-family: Arial;
	font-size: 40px;
	margin-top: 100px;
}

table {
	margin: auto;
}

td {
	width: 225px;
	text-align: center;
}

tr {
	height: 35px;
}

input[type=button] {
	width: 49%;
	height: 25px;
}

input {
	width: 97%;
	height: 20px;
	font-size: 14px;
	border-radius: 300px;
	padding-left: 5px;
}