<!DOCTYPE html>
<html>
<head>
	<title>SpyJump</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<!-- Pealkiri -->
	<div class="title">
		<p>SpyJump</p>
	</div>

	<!-- Nime ja mängu ID sisestamine -->
	<div class="content">
		<table>
			<tr>
				<td>
					<input type="" name="name" placeholder="username">
				</td>
			</tr>

			<tr>
				<td>
					<input type="" name="gameID" placeholder="gameID">
				</td>
			</tr>

			<!-- Nupud mängu loomiseks ja liitumiseks -->
			<tr>
				<td>
					<input type="button" name="" value="Create">
					<input type="button" name="" value="Join">
				</td>
			</tr>
		</table>
	</div>
</body>
</html>